modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
SOLANA_NETWORK = "devnet"
SOLANA_RECIPIENT_ADDRESS = "GhgXp29MrWxzdU1pdjo7gbmm2QjTY4TE6iomsM4hv9Ct"
NEXT_PUBLIC_SOLANA_NETWORK = "devnet"
NEXT_PUBLIC_SOLANA_RECIPIENT_ADDRESS = "GhgXp29MrWxzdU1pdjo7gbmm2QjTY4TE6iomsM4hv9Ct"
